extends layout

block content
  h1= title
  p Welcome to #{title}
  p my color
  div.square
  <canvas id="c" width="900" height="600" style="border:1px solid #d3d3d3;">

script(src="/javascripts/index.js")